{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = name; name = name; prototypeName = varchar255; }
    ); 
    attributesUsedForLocking = (id, name); 
    className = "com.dd.beaconscanner.metadata.ChannelMap"; 
    classProperties = (name); 
    externalName = ChannelMap; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_javaClientClassName" = ChannelMap; }; 
    name = ChannelMap; 
    primaryKeyAttributes = (id); 
}
