{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = majorCode; name = majorCode; prototypeName = intNumber; }, 
        {columnName = minorCode; name = minorCode; prototypeName = intNumber; }, 
        {columnName = "record_type"; name = "record_type"; prototypeName = intNumber; }, 
        {allowsNull = N; columnName = uuid; name = uuid; prototypeName = varchar50; }
    ); 
    attributesUsedForLocking = (id, majorCode, minorCode, "record_type", uuid); 
    className = "com.dd.beaconscanner.metadata.Channel"; 
    classProperties = (majorCode, minorCode, "record_type", uuid); 
    externalName = Channel; 
    fetchSpecificationDictionary = {}; 
    name = Channel; 
    parent = BeaconData; 
    primaryKeyAttributes = (id); 
    restrictingQualifier = "record_type = 3000"; 
}
