{
    attributes = (
        {
            allowsNull = Y; 
            columnName = firstName; 
            name = firstName; 
            prototypeName = varchar16; 
        }, 
        {
            allowsNull = Y; 
            columnName = iconURL; 
            name = iconURL; 
            prototypeName = varchar255; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = lastName; 
            name = lastName; 
            prototypeName = varchar50; 
        }, 
        {columnName = majorCode; name = majorCode; prototypeName = intNumber; }, 
        {columnName = minorCode; name = minorCode; prototypeName = intNumber; }, 
        {
            allowsNull = Y; 
            columnName = position; 
            name = position; 
            prototypeName = varchar50; 
        }, 
        {columnName = "record_type"; name = "record_type"; prototypeName = intNumber; }, 
        {allowsNull = Y; columnName = title; name = title; prototypeName = varchar10; }, 
        {allowsNull = N; columnName = uuid; name = uuid; prototypeName = varchar50; }
    ); 
    attributesUsedForLocking = (
        firstName, 
        iconURL, 
        id, 
        lastName, 
        majorCode, 
        minorCode, 
        position, 
        "record_type", 
        title, 
        uuid
    ); 
    className = "com.dd.beaconscanner.metadata.PersonBeacon"; 
    classProperties = (
        channels, 
        firstName, 
        iconURL, 
        lastName, 
        majorCode, 
        minorCode, 
        position, 
        "record_type", 
        title, 
        uuid
    ); 
    externalName = BeaconData; 
    fetchSpecificationDictionary = {}; 
    name = PersonBeacon; 
    parent = BeaconData; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Channel; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = beaconDataID; sourceAttribute = id; }); 
            name = channels; 
        }
    ); 
    restrictingQualifier = "record_type = 1000"; 
}
