<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Person Beacon Manager</title>
    <wo:ERXStyleSheet filename = "css/bootstrap.min.css" />
    <wo:ERXStyleSheet filename = "css/main.css" />

</head>
<body>

    <p>&nbsp;</p>
<wo:NavigationBar />
    <div class="container">
    <h1>Persons</h1>
        <form role="form"><input data-role="tablefilter" data-tableid="persons" type="search" class="form-control" placeholder="Search..." /></form>
        <br />
        <table id="persons" class="table sortable">
            <thead>
                <tr>
                <th>&nbsp;</th>
                <th>Type</th>
                    <th>Id</th>
                    <th>Location</th>
                </tr>
            </thead>
           <!--  <tbody>-->
            <tbody class="row" >
                <wo:repetition list="$allAssets" item="$currentAsset"><tr>
                <td><wo:image src="$currentAsset.iconURL" height="50"/></td>
                <td><wo:string value="$currentAsset.assetType" /></td>
                    <td><wo:string value="$currentAsset.assetId" /></td>
                    <wo:AjaxUpdateContainer id="$currentAssetLocationDomID" elementName="td"><wo:string value="$locationForCurrentAsset" /></wo:AjaxUpdateContainer>
                </tr></wo:repetition>
                </tbody>
            <!--  </tbody>-->
        </table>
    </div>
  <wo:AjaxPing targetContainerID="beaconOverview" cacheKey="$beaconManager.updateCount"/><wo:AjaxUpdateContainer id="beaconOverview"><wo:AjaxUpdateTrigger updateContainerIDs = "$pannelsToUpdate"/><wo:string value="$beaconManager.updateCount" /></wo:AjaxUpdateContainer>
	<wo:ERXJavaScript filename = "js/jquery-2.1.0.min.js" />
	<wo:ERXJavaScript filename = "js/jquery.tablesorter.min.js" />
	<script>
	jQuery.noConflict();
	</script>
    <wo:ERXJavaScript filename = "js/bootstrap.min.js" />
    <wo:ERXJavaScript filename = "js/main.js" />

</body>
</html>