    <div class="container">
        <div class="row beacon-header">
            <div class="col-xs-3"><wo:link directActionName="radarOverview" class="$cssClassRadar">Radar</wo:link></div>
            <div class="col-xs-3"><wo:link directActionName="personOverview" class="$cssClassPersons">Persons</wo:link></div>
            <div class="col-xs-3"><wo:link directActionName="assetOverview" class="$cssClassAssets">Assets</wo:link></div>
            <div class="col-xs-3"><wo:AjaxHyperlink action = "$beaconManager.updateState">Refresh</wo:AjaxHyperlink></div>
        </div>
    </div>