    <div class="container">
        <div class="row beacon-header">
            <div class="col-xs-3"><wo:link pageName="RadarOverview" class="$cssClassRadar">Radar</wo:link></div>
            <div class="col-xs-3"><wo:link pageName="PersonOverview" class="$cssClassPersons">Persons</wo:link></div>
            <div class="col-xs-3"><wo:link pageName="AssetOverview" class="$cssClassAssets">Assets</wo:link></div>
            <div class="col-xs-3"><a href="#">Settings</a></div>
        </div>
    </div>