<html>
<head>
<title>BeaconScanner Admin</title>
</head>
<body>
<ol>
<li><wo:hyperlink pageName = "RadarEditor" target="_radarEditor">Radar Editor</wo:hyperlink></li>
<li><wo:hyperlink pageName = "PersonBeaconEditor" target="_personBeaconEditor">PersonBeacon Editor</wo:hyperlink></li>
<li><wo:hyperlink pageName = "ChannelEditor" target="_channelEditor">Channel Editor</wo:hyperlink></li>
<li><wo:hyperlink pageName = "AssetBeaconEditor" target="_assetBeaconEditor">AssetBeacon Editor</wo:hyperlink></li>
</ol>


</body>
</html>